* {
  box-sizing: border-box;
}

.flex {
  background-color: #eee;
  width: 660px;
  height: 400px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.flex div {
  background-color: red;
  color: white;
  width: 200px;
  text-align: center;
  padding: 20px;
}
