.one {
  background-color: red;
  color: white;
}

.two {
  background-color: #eee;
  width: 100px;
  height: 100px;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
}

.ch:checked + label {
  color: red;
  display: none;
}

a:visited {
  color: blue;
}

div:empty {
  border: 10px solid red;
}

.in {
  border: 2px solid black;
}

.in:focus {
  border-color: green;
  outline: none;
}
